<%= link_to 'Back', '/' %>

<h1> Following are your Bugs </h1>

<% @bugs.each do |bug| %>
<p><strong>ID: </strong> <%= bug.id %></p>
<p>Title: <%= bug.title %></p>
<p>Description: <%= bug.description %></p>
<p>Deadline: <%= bug.deadline %></p>
<p>Type: <%= bug.bug_type %></p>
<p>Status: <%= bug.status %></p>

<p><%= image_tag bug.image, size: "500x350" %></p> <br>
<% end %>

